*.pyc
.vscode
.history
__pycache__
bin
dist
scripts/preprocessing/
src/dphm_tum.egg-info/
configs/n3dmm_GEA.yaml
build
job/

install_preprocess_kinect.sh
install_preprocessing_pipeline.sh
dataset.md
experiments/
pretrain_sample_output/
pretrain_models/
pretrain_models.zip
scripts/alignment_NPHM.py
scripts/intro_NPHM.py

scripts/inference/
ChamferDistancePytorch/chamfer3D/chamfer_3D.egg-info
src/dphm_tum/preprocessing/
scripts/tracker
src/dphm_tum/fitting/