build/
__pycache__/
*egg-info/


/experiments
/pretrain_models/
/pretrain_sample_output/

/src/dphm_tum/env_paths.py
/src/dphm_tum/preprocessing/MODNet/
/src/dphm_tum/preprocessing/PIPNet/
/src/dphm_tum/preprocessing/MICA/
/src/dphm_tum/preprocessing/metrical-tracker/
/src/dphm_tum/preprocessing/face_normals/

/bin
configs/n3dmm_GEA.yaml
dataset.md